# Firebase Configuration Keys
# Create a Web App in your Firebase Console under Project Settings -> Your Apps.
# Duplicate this file and rename the copy to '.env.local' to configure your local keys.
# Do NOT upload '.env.local' or any credentials to GitHub.

VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_APP_ID=
